/* this is the css style sheet */
body {
	 background-repeat: no-repeat;
	  background-size:cover;
	  margin: 0;
}
#input {
	background-color: rgba(192,192,220,0.3);
	 width: 800px;
	 font-size: 88px;
    margin-left: 900px;
    position: fixed;
     text-shadow: 2px 2px 5px white;

}
input[type='checkbox'] {
   
    width:50px;
    height:50px;
    background:white;
}

.center {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 150px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  background-color: rgba(192,192,220,0.3);
 }

h2 {
text-align:center;
font-size: 120px;
text-shadow: 2px 2px 5px #ece5ec;
}

#search {
	width:270px;
	height: 100px;
	margin-left: 190px;
	text-shadow: 2px 2px 5px white;
	font-size: 75px;
}


h3 {
	background-color: rgba(192,192,220,0.3);
	width: 1200px;
	text-shadow: 2px 2px 5px #ece5ec;
	margin-left: 3000px;
    text-align:center;
    font-size: 120px;
    position: fixed;
}

#output {
	background-color: rgba(192,192,220,0.3);
	 width: 1200px;
	 font-size: 88px;
    margin-left:3000px;
    margin-top: 280px;
    position: fixed;
     text-shadow: 2px 2px 5px white;
 }

 ul {
 	list-style-type: none;
 }
